{% extends 'ScalewayWebsite/base.html' %}

{% block extrahead %}

<title>Blog</title>

{% endblock %}

{% block content %}

<div class="row">
  <div class="page-header">
    <h1>Blog</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>January 2018</h4>
      <p class="text-justify">
       We successfully conducted an experiment with our spatial sound interface with 40 blindfolded test subjects. The goal of these experiments were to get a better understanding of how a typical user with late-onset blindness (simulated with the blindfold) will respond when tasked with pointing a camera toward a virtual target, whose location is given to the user with a spatial sound cue. 
      </p>
      <br>
      <h4>March 2017</h4>
      <p class="text-justify">
        In March, my supervisor and I were invited to present our work at the AAAI Spring symposium series hosted at Stanford University, USA. The campus and surrounds are very impressive; its easy to see why Silicon Valley is located around the Bay area. As for the symposium, it was a great experience and we received very positive feedback from the delegates.
      </p>
    </div>
  </div>
</div>

{% endblock %}
