{% extends 'ScalewayWebsite/base.html' %}

{% block extrahead %}

<title>Jacobus Lock Home</title>

{% endblock %}

{% block content %}

<div class="row">
  <div class="page-header">
    <h1>PhD Student, Mechatronic Engineer</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-justify">
      I'm Jacobus Lock, a qualified <a href="https://en.wikipedia.org/wiki/Mechatronics">mechatronic engineer</a> and PhD student at the University of Lincoln, UK. I love reading up on new technologies and trying it out for myself (with varying degrees of success and injury). You'll usually find me behind a computer, working on my project, watching a TED talk or lecture, or playing games. 
      </p>
    </div>
  </div>
</div>

{% endblock %}
